---
import HeroServico from "../../components/services/HeroServico.astro";
import IntroducaoServico from "../../components/services/IntroducaoServico.astro";
import BeneficiosServico from "../../components/services/BeneficiosServico.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import GoogleReviews from "../../components/services/GoogleReviews.astro";
import FAQServico from "../../components/services/FAQServico.astro";
import CTAAgendamento from "../../components/services/CTAAgendamento.astro";
import MapaServico from "../../components/services/MapaServico.astro";

import { procedimentos } from "../../data/procedimentos";

export function getStaticPaths() {
  return Object.values(procedimentos).map((procedimento) => ({
    params: {
      slug: procedimento.slug,
    },
    props: {
      procedimento,
    },
  }));
}

const { procedimento } = Astro.props;
---

<MainLayout
  title={procedimento.tituloSeo}
  description={procedimento.descricaoSeo}
  keywords={`${procedimento.nome} Balneário Camboriú, ${procedimento.categoria}, salão de beleza Balneário Camboriú`}
  image={procedimento.imagemHero}
  canonical={`https://www.anasbeautyshop.com.br/procedimentos/${procedimento.slug}`}
>
  <main class="bg-black text-white">
    <HeroServico servico={procedimento} />

    <IntroducaoServico servico={procedimento} />

    <BeneficiosServico servico={procedimento} />

    <GoogleReviews />

    <FAQServico servico={procedimento} />

    <CTAAgendamento servico={procedimento} />

    <MapaServico />
  </main>
</MainLayout>