---
import { ui } from "../data/ui";
---

<section class={`bg-[#111111] text-white ${ui.section}`}>
  <div class={ui.containerMedium}>

    <div class="text-center mb-16">
      <span class={ui.eyebrowSmall}>
        Depoimentos
      </span>

      <h2 class={`${ui.title} mt-4`}>
        O que nossas clientes dizem
      </h2>

      <p class={`${ui.paragraph} mt-4`}>
        Avaliações reais de clientes no Google
      </p>
    </div>

    <div class={ui.imageCard}>
      <!-- Elfsight Google Reviews | Ana's Beauty Shop Reviews -->
      <script
        is:inline
        src="https://elfsightcdn.com/platform.js"
        async
      ></script>

      <div
        class="elfsight-app-238aaa1b-d89b-4c83-a27b-c4a86f95e070"
        data-elfsight-app-lazy
      ></div>
    </div>

  </div>
</section>